
.form {
    display: block;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.form__input {
    display: block;
    height: 2em;
    padding: 0.4em 1em;
    border-radius: 0.5em 0 0 0.5em;
    border: none;
    font-size: inherit;
}

.form__btn {
    font-size: inherit;
    display: block;
    padding: 0.4em 1em;
    border: none;
    width: 8em;
    height: 2em;
    border-radius: 0 0.5em 0.5em 0;
    background-color: rgba(17, 198, 50, 0.941);
    text-shadow: 0.05em 0.1em 0.1em rgb(13, 242, 78);
    color: rgb(2, 40, 7);
    &hover {
        filter: brightness(1.4);
    }
}